@font-face {
    font-family: Dongle;
    src: url(./assets/fonts/Dongle-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Dongle;
    src: url(./assets/fonts/Dongle-Bold.ttf);
    font-weight: bold;
}

:root {
    --html-bg: #bbb;
    --body-bg: #ddd;
    --body-border: #eee;
    --text: #444;
    --bolder-text: #333;
    --boldest-text: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --html-bg: #555;
        --body-bg: #222;
        --body-border: #333;
        --text: #ddd;
        --bolder-text: #eeee;
        --boldest-text: #fff;
    }
}

html {
    background-color: var(--html-bg);
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: var(--body-bg);
    border-color: var(--body-border);
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}

p {
    color: var(--text);
    font-family: 'Dongle', sans-serif;
    max-width: 800px;
    font-size: 28pt;
    line-height: 1.15;
    margin: 4pt auto;
    text-align: center;
}

p.question,
#question-text,
#instructions-text {
    margin: 16pt auto;
    color: var(--bolder-text);
    font-family: 'Dongle', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    line-height: 0.8em;
    min-height: 150pt;
    background-color: var(--body-border);
    padding: 16pt;
    border-radius: 16pt;
    font-size: 48pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: var(--boldest-text);
    font-family: 'Dongle', sans-serif;
    font-size: 96pt;
    text-align: center;
    line-height: 96pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

h2 {
    text-align: center;
    color: var(--bolder-text);
    font-family: 'Dongle', sans-serif;
    font-size: 52pt;
    line-height: 52pt;
    margin-top: 12pt;
    margin-bottom: 10pt;
}

li {
    font-size: 24pt;
    text-indent: 24pt;
}

a {
    font-family: inherit;
    text-decoration: none;
}

button {
    display: block;
    background-color: #2196f3;
    font-family: 'Dongle', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 0pt;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 32pt;
    margin: 10px auto;
    cursor: pointer;
}

button:hover,
button:focus {
    background: #1687e0;
}

.stronglyAgree {
    background: #1b5e20;
}

.stronglyAgree:hover,
.stronglyAgree:focus {
    background: #154a19;
}

.agree {
    background: #4caf50;
}

.agree:hover,
.agree:focus {
    background: #29942e;
}

.neutral {
    background: #949494;
}

.neutral:hover,
.neutral:focus {
    background: #656565;
}

.disagree {
    background: #f44336;
}

.disagree:hover,
.disagree:focus {
    background: #d6271a;
}

.stronglyDisagree {
    background: #b71c1c;
}

.stronglyDisagree:hover,
.stronglyDisagree:focus {
    background: #a00e0e;
}

.small_button {
    background-color: #333;
    font-family: 'Dongle', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 0pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}

canvas,
img {
    border-color: var(--text);
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#custom-canvas {
    cursor: pointer;
}

#demo-holder {
    position: relative;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;
}

#demo-holder img {
    position: absolute;
    left: 0;
    background-color: #DDD;
    max-width: 400px;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.transparent {
    opacity: 0;
}

#hidden {
    font-size: 1%;
    color: #dddddd;
}

#disclaimer {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    html {
        height: 100%;
        background-color: var(--body-bg);
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        border: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    button {
        width: 80vw;
        font-size: 8vw;
    }

    h1 {
        padding-top: 1vw;
        font-size: 18vw;
        line-height: 1em;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 0.2vw;
        font-size: 14vw;
        line-height: 1em;
    }

    #question-number {
        font-size: 10vw;
        line-height: 0.6em;
    }

    hr {
        display: none;
    }

    #instructions-text,
    #question-text {
        flex: 1;
        min-width: unset;
        max-width: unset;
        width: 70vw;
        font-size: 10vw;
        line-height: 0.6em;
        margin-top: 0px;
        margin-bottom: 0px;
        row-gap: 0px;
        height: auto;
        padding-top: 1vw;
        padding-bottom: 0.5vw;
        min-height: 4.2em;
    }

    #demo-holder {
        position: relative;
        width: 70vw;
        height: 80vw;
    }

    #demo-holder img {
        max-width: 70vw;
    }

    #orb-canvas,
    #custom-canvas {
        width: 90vw;
    }

    .small_button {
        width: 40vw;
        height: 13vw;
    }

    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

/*Github corner CSS*/
.github-corner svg {
    fill: var(--boldest-text);
}

.github-corner svg .octo-arm,
.github-corner svg .octo-body {
    fill: var(--body-border);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}