doctype html
html(lang="en-US")
    include includes/head 
    body 
        h1 4Orbs
        hr
        h1 Custom
        p Click/touch the orbs to change your custom score and the title to change the name.
        canvas(id="custom-canvas")
        button(id="download-button") Download
        a(href="index.html")
            button Return to the start
        if inlineJs
            script(type="module") !{js["custom"]}
        else 
            script(type="module" src="./dist/custom.js")