doctype html
html(lang="en-US")
    include includes/head 
    body 
        h1 4Orbs
        hr
        h2 Instructions        
        p(id="instructions-text") You will be presented with a choice of 2 different tests, in each you must answe with how you feel about each statement.
        button(onclick="location.href = 'quiz.html'") Got it!
        button(onclick="location.href = 'index.html'") Nevermind.