doctype html
html(lang="en-US")
    include includes/head 
    body 
        h1 4Orbs
        hr
        h2 Instructions        
        p(id="instructions-text") You will be presented with a choice of 2 different tests, in each you must answer with how you feel about each statement.
        a(href="quiz.html")
            button Got it!
        a(href="index.html")
            button Nevermind.
