doctype html
html(lang="en-US")
    include includes/head 
    body
        h1 4Orbs
        hr
        h1 Results
        canvas(id="orb-canvas")
        button(id="download-button") Download your results
        a(href="custom.html")
            button Make your custom score
        a(href="index.html")
            button Return to the start
        if inlineJs
            script(type="module") !{js["results"]}
        else 
            script(type="module" src="./dist/results.js")